@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.contact-page {
  height: 100vh;
  @include flex-space-between;
  flex-direction: column;
  padding-top: 8rem;
  @include respond(sm) {
    height: 100vh;
    padding-top: 4.5rem;
    justify-content: space-around;
  }
}

.contact-header {
  font-size: 4vw;
  margin-bottom: 1rem;
  text-align: center;
  color: $text-primary;
  @include respond(lg) {
    font-size: 8vw;
  }
  @include respond(sm) {
    font-size: 8vw;
  }
}

.contact-message-form-wrapper {
  display: flex;
  gap: 50px;
  padding: 2rem;
  @include respond(sm) {
    padding: 0 2rem;
    flex-direction: column;
  }
  .message-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    @include flex-center;
    background: #000000d6;
    flex-direction: column;
    button {
      width: fit-content;
      border: 1px solid #fff;
      border-radius: 10px;
      padding: 10px 20px;
      color: #fff;
    }
    .message-container {
      background-color: $bg-color;
      width: fit-content;
      padding: 20px 30px;
      text-align: center;
      border-radius: 6px;
      @include flex-center;
      flex-direction: column;
      gap: 12px;
    }
  }
}

.contact-message {
  flex: 1;
  line-height: 1.6;
  text-align: center;
  font-size: 2vw;
  @include respond(lg) {
    font-size: 3.5vw;
  }
  @include respond(sm) {
    font-size: 4.5vw;
  }
}

.contact-form {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 2.5rem;

  .form-input,
  .form-textarea {
    padding: 0.9rem 1rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid $text-secondary;
    outline: none;
    transition: border 0.3s ease;
    color: $text-primary;

    &:focus {
      border-color: $text-primary;
    }
  }

  .form-textarea {
    resize: none;
  }

  .form-button {
    padding: 0.9rem 1rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid $text-primary;
    color: $text-secondary;
    cursor: pointer;
    font-weight: 600;
    transition: border 0.3s ease;

    &:hover {
      color: $text-primary;
      border: 1px solid $text-secondary;
    }
  }
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 1rem;
  font-weight: 500;
  padding: 1.5rem 2rem;
  background-color: rgba(0, 0, 0, 0.8392156863);

  a {
    color: $text-secondary;
    text-decoration: none;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    &:hover {
      color: $text-primary;
    }
  }
}
